:root {
  --bs-secondary-color: #4c6982; 
  --bs-heading-color: #314e67; 
  --bs-primary-rgb: 100, 91, 255;
}
.bg-primary {
  --bs-bg-opacity: 0.4 !important;

}

body {
  font-family: 'DM Sans', sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h5 {
  font-weight: 700; 
}


button {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

button.center{
  justify-self: center;
}


/* From Uiverse.io by ilkhoeri */ 
.loader {
  --dasharray: 814;
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 206px;
  background: transparent none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader svg {
  position: absolute;
  width: 100%;
  max-width: 550px;
  height: auto;
}
.loader svg path {
  stroke-dasharray: var(--dasharray);
  -webkit-animation: heartRate 5s infinite linear forwards;
  animation: heartRate 5s infinite linear forwards;
}

@-webkit-keyframes heartRate {
  from {
    stroke-dashoffset: var(--dasharray);
  }
  to {
    stroke-dashoffset: calc(var(--dasharray) * -1px);
  }
}
@keyframes heartRate {
  from {
    stroke-dashoffset: var(--dasharray);
  }
  to {
    stroke-dashoffset: calc(var(--dasharray) * -1px);
  }
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.mySlides {
  opacity: 0;
  position: absolute;
  width: 100%;
  transition: opacity 0.8s ease-in-out;
}

.mySlides:first-child {
  opacity: 1; /* Ensure first slide is visible on load */
  position: relative;
}

.department-card{
  min-height: 150px;
  width: 100%;
}
